<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/form.css">
    <title>User workSpace</title>
</head>

<body>

    <div class="wrapper2">
        <div class="nav">

            <div class="topnav" id="myTopnav">
                <img src="../img/meetups3.png" alt="" class="headM">
                <div class="navigationBar">

                        <a href="../index.html">logout</a>
                        <a href="profile.html">profile</a>
                        <a href="upcoming.html">Upcoming meetups</a>                       
                        <a href="meetups.html">meetups</a>
                        <a href="userspace.html">Home page</a>
                    </div>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">

                </a>

            </div>



        </div>
        <div class="logoAndela">


        </div>

        <div class="createQuest">


            <ul>
                <a href=""> <img src="../img/alc.jpg"></a>


                <li>The world's most popular programming language is JavaScript, but why? <br>
                    <div class="location"> <img src="../img/location5.png" alt="" class="loc"> Kigali Tue Feb 2019;
                    </div>
                </li>

            </ul>
            <div class="askquestion">
                <form action="" class="askQ">
                    <textarea placeholder="write your question here" name="" id="" cols="30" rows="10"></textarea>
                    <button type="submit">Send your question</button>
                </form>
            </div> <br> <br>
           <div class="questions">
                <ul>

                        <li>The world's most popular programming language is JavaScript, but why? <br>
                            <div class="location"> <img src="../img/up.png" alt="" class="loc"> <img src="../img/down.png" alt="" class="loc"> <a href="comments.html">Comment</a>
                            </div>
                        </li>
                        <li>The world's most popular programming language is JavaScript, but why? <br>
                            <div class="location"> <img src="../img/up.png" alt="" class="loc"> <img src="../img/down.png" alt="" class="loc"> <a href="comments.html">Comment</a>
                            </div>
                        </li>
                        <li>The world's most popular programming language is JavaScript, but why? <br>
                            <div class="location"> <img src="../img/up.png" alt="" class="loc"> <img src="../img/down.png" alt="" class="loc"> <a href="comments.html">Comment</a>
                            </div>
                        </li>
                        <li>The world's most popular programming language is JavaScript, but why? <br>
                            <div class="location"> <img src="../img/up.png" alt="" class="loc"> <img src="../img/down.png" alt="" class="loc"> <a href="comments.html">Comment</a>
                            </div>
                        </li>
        
        
        
        
                    </ul>
        
           </div>
        </div>
        <div class="menubar">

            </nav>
            <!-- 
                 <nav>
                <ul>
                    <li>
                        <a href="meetups.html">
                            <img src="../img/meetup.png" alt="" class="icons">
                            <h5>Meetups</h5>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/question.png" alt="" class="icons">
                            <h5>My questions</h5>
                        </a>
                    </li>
                    <li>
                        <a href=""> <img src="../img/profile.png" alt="" class="icons">
                            <h5>My profile</h5>
                        </a>
                    </li>
                    <li>
                        <a href=""> <img class="icons" src="../img/signout1.png">
                            <h5>Signout</h5>
                        </a>
                    </li>
                    
                    
                </ul>
                
                <a href="meetups.html" class="meet"> <img src="../img/meetup.png" alt="" class="myprofile"> <br><i class="m">Meetups</i></a>
            <br> 
            <a href="" class="Myquestion">  <img src="../img/question.png" alt="" class="question"> <br> <i class="q">My questions</i> </a>
            <br>
            <a href="" class="prof">   <img src="../img/profile.png" alt="" class="myprofile"><br> <i class="pro">My profile</i></a>
            <br>
            <a href="" class="logout"> <img class="question" src="../img/signout1.png"><br> <i class="pro">Signout</i></a>!-->

        </div>


    </div>
    <script src="../js/displayspace.js"></script>
</body>

</html>